@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: white
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.rs-steps-item-status-finish .rs-steps-item-icon-wrapper {
  color: #9E7070 !important;
  border-color: #9E7070 !important;
}

.rs-steps-item-status-finish .rs-steps-item-tail {
  border-color: #9E7070 !important;
}

.rs-steps-item-title {
  color : #000000;
}

.typewriter-container {
  display: flex;
  flex-direction: column;
  font-family: monospace;
  overflow: hidden;
  border-right: 0.15em solid #000;
  white-space: nowrap;
  margin: 0 auto;
  animation: typing 4s steps(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #000;
  }
}
